<div class="flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="fixed top-0 z-40 flex flex-wrap items-center justify-between w-full px-4 py-5 bg-white shadow-md bg-opacity-90">
        <!-- Logo -->
        <div class="flex items-center">
          <a href="/" class="text-3xl font-bold">Mon Garage</a>
        </div>

        <!-- Menu -->
        <div class="hidden lg:flex lg:items-center">
          <a routerLink="/acceuil" class="px-4 py-2 text-gray-600 hover:text-gray-900">Accueil</a>
          <a (click)="checkAuth()" *ngIf="!isAuthenticated" class="px-4 py-2 text-gray-600 hover:text-gray-900 cursor-pointer">Se connecter</a>
          <a (click)="checkAuth()" *ngIf="isAuthenticated" class="px-4 py-2 text-gray-600 hover:text-gray-900 cursor-pointer">Mes rendez-vous</a>

          <!-- Dropdown Nos Prestations -->
          <div class="relative">
            <button (click)="isDropdownOpen = !isDropdownOpen" class="flex items-center px-4 py-2 text-gray-600 hover:text-gray-900">
              Nos Prestations
              <span [ngClass]="{ 'rotate-180': isDropdownOpen }" class="ml-2 transition-transform">▼</span>
            </button>

            <div *ngIf="isDropdownOpen"
                class="absolute right-0 mt-2 bg-white shadow-lg rounded-lg p-4  max-w-screen-md w-full sm:w-[500px]">
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 max-h-[300px] overflow-y-auto">
                <a *ngFor="let prestation of prestations"
                  [routerLink]="'/prestation/' + prestation._id"
                  class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-md transition text-sm whitespace-normal break-words">
                  {{ prestation.nom }}
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Auth buttons -->
        <div class="hidden lg:flex">
          <ng-container *ngIf="isAuthenticated; else guestButtons">
            <button (click)="logout()" class="px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">Se déconnecter</button>
          </ng-container>

          <ng-template #guestButtons>
            <a routerLink="/login" class="px-4 py-2 text-white bg-gray-600 rounded hover:bg-gray-700">Se connecter</a>
            <a routerLink="/users" class="ml-4 px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">S'inscrire</a>
          </ng-template>
        </div>



      </nav>

      <!-- Contenu principal -->
      <div class="flex-grow w-full mt-20">
        <router-outlet></router-outlet>
      </div>
    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center p-4 mt-4">
      <p>© 2025 Mon Garage - Tous droits réservés</p>
      <p class="text-sm mt-2">Réalisé par : RAZAFIMANANTSOA Hasina & Rakotonirina Lala Frédéric</p>
    </footer>
  </div>
